
.dpp-av-panel {
  &--hidden {
    display: none;
  }

  &--disabled {
    cursor: not-allowed;
  }
}

.dpp-av-col--empty {
  display: none;
}

.av-panel-row--align-left {
  margin-left: -2.5em;
}

.dpp-av-panel.custom-attr .b3-button[data-type=addColumn]{
  margin-left: 0;
}

.dpp-collapse-button {
  /* Left margin of the size of the padding to align left */
  margin-left: -8px;
}